@tailwind base;
@tailwind components;
@tailwind utilities;

.hahaha{
    background-color: lightgreen !important;
    color: white !important;
    font-weight: bold !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.mainform{
    border: 1px solid black !important;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}



.hahaha:hover{
    background-color: lightgreen !important;
    color: black !important;
}

body{
    background-color: white !important;
}

.hotovo{
    color: red !important;
    font-weight: bold;
}


.card{
    border-radius: 10px !important;
    color: black !important;
}

.card:hover{
    color: black !important;
    background-color: lightgreen!important;
}
